spring.datasource.url=jdbc:postgresql://localhost:5432/habitos_db
spring.datasource.username=TU_USUARIO
spring.datasource.password=TU_CONTRASEÑA
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
jwt.secret=TU_CLAVE_SECRETA_AQUI
jwt.expiration=2592000000